<%- include('./layouts/_header.ejs'); %>

<style>

body{
    background-color: rgba(210, 240, 236, 0.4);
    }


  /* Add your custom CSS styling here */
  .form-row {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
  }

  /* Add pointer cursor to the name toggle */
  .name-toggle {
    cursor: pointer;
    font-weight: bold; /* Added style for the name */
  }

  /* Use Flexbox to make the form span the full width */
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .formWrapped {
    display: table-row;
    /* border: 2px solid red; */
  }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container mt-5">
  <div class="row">
    <!-- First column - Collapsible Form -->
    <div class="col-md-7">

        


            <table class="table table-striped table-info table-fixed">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Job Role</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

               
                <% Result.forEach((item)=>{ %>

                <tr>
                  <td>
                    <input type="text" class="form-control" id="studentName" required value="<%= item.name %>">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="job_Role" required value="<%= item.job_Role %>">
                  </td>
                  <!-- here is select company list -->
                  <td>
                    <select class="form-control" id="companyName" required>
                      <option value="" disabled selected>Select a company</option>
                      <option value="Amazon">Amazon</option>
                      <option value="Flipkart">Flipkart</option>
                      <option value="Apple">Apple</option>
                      <option value="Microsoft">Microsoft</option>
                      <option value="Google">Google</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Walmart">Walmart</option>
                      <option value="Samsung">Samsung</option>
                      <option value="Sony">Sony</option>
                      <option value="HP">HP</option>
                      <option value="Dell">Dell</option>
                      <option value="Oracle">Oracle</option>
                      <option value="IBM">IBM</option>
                      <option value="Intel">Intel</option>
                      <option value="Adobe">Adobe</option>
                      <option value="Cisco">Cisco</option>
                      <option value="Tesla">Tesla</option>
                      <option value="Nvidia">Nvidia</option>
                      <option value="Netflix">Netflix</option>
                      <option value="PayPal">PayPal</option>
                      <option value="Uber">Uber</option>
                      <option value="Airbnb">Airbnb</option>
                      <option value="Snap">Snap</option>
                      <option value="Twitter">Twitter</option>
                      <option value="LinkedIn">LinkedIn</option>
                      <option value="Pinterest">Pinterest</option>
                      <!-- Add more company names here -->
                    </select>
                  </td>
                  

                  <td>
                    <input type="date" class="form-control" id="interviewDate" required>
                  </td>
                  
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-success add-row">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-danger remove-row">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>

             
                <% }) %>

              </tbody>
            </table>
        
          


    </div>

    <!-- Right column with the Scheduled Interview fields -->
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead>
          <h3 class="mb-4 inter_head">Scheduled Interview</h3>
          <tr>
            <th>Student Name</th>
            <th>Company Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control" id="studentName" required value="">
            </td>
            <td>
              <input type="text" class="form-control" id="companyName" required>
            </td>
            <td>
              <input type="date" class="form-control" id="interviewDate" required>
            </td>
          </tr>
          <!-- Add more rows here for additional scheduled interviews -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Bootstrap Icons CDN Link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">

<%- include('./layouts/_footer.ejs'); %>



